@use "colors" as colors;

.pagination {
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;

  div {
    cursor: pointer;
  }
}

.pagination div {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination div.active {
  background-color: colors.$dark-forest-green;
  color: white;
  border: 1px solid colors.$dark-forest-green;
}

.pagination div:hover:not(.active) {
  background-color: #ddd;
}
