.parentContainer {
  height: 400px;
  overflow: "auto";
}

.parent {
  width: "100%";
  position: "relative";
}

// .element {
//   position: "absolute";
//   top: 0;
//   left: 0;
//   width: "100%";
// }
