@use "@/styles/colors" as colors;

.dayContainer {
  height: 100%;
  display: flex;
  justify-content: stretch;

  .backgroundYear {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: colors.$red;
    opacity: 0.4;
  }
}

.hoursContainer {
  display: flex;
  width: 100%;
}
