.meterWrapper {
  position: absolute;
  background-color: lightcyan;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meterComponent {
  height: 20vh;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: lightgreen;

  overflow-x: scroll;
  overflow-y: hidden;

  transition: scroll-left 0.2s ease-in-out;
}

.meterCenterLine {
  position: fixed;
  width: 100%;
  height: 1px;
  background: black;
}
