@use "@/styles/colors" as colors;

.meterLineContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; // important for full height
  justify-content: center;
  width: 0;

  .meterLineNormal {
    height: 42px;
    width: 1.6px;
    background: colors.$black;
    margin-bottom: 1rem;
    z-index: 2;
  }

  .meterLineLarge {
    height: 76px;
    width: 4px;
    background: colors.$red;
    margin-bottom: 1rem;
    z-index: 2;
  }

  .meterLineDisplayValueContainer {
    user-select: none;

    .meterLineDisplayValueNormal {
      font-size: 0.6rem;
      width: 0px;
      display: flex;
      justify-content: center;
      white-space: nowrap;
    }

    .meterLineDisplayValueLarge {
      font-size: 1rem;
      width: 0px;
      display: flex;
      justify-content: center;
      white-space: nowrap;
    }
  }
  .dashedLine {
    border-left: 1px dashed #000;
    height: 200%;
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
    top: 50%;
  }
}
